RewriteEngine On
RewriteBase /polmind/

# Jika file/folder asli tidak ada
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Semua request arahkan ke index.php
RewriteRule . index.php [L]