/* Reset & Global */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  padding-top: 60px;
  color: #102C53;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 150px;
  background-color: #102C53;
  color: #024DAC;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
}

.logo img {
  /* width: 120px; */
  height: 50px;
}


h1 {
  color: #fff;
  font-size: 14px;
  text-align: center;
  padding: 10px 5px 3px;
  font-weight: 500;
}

.navbar {
  display: flex;
  gap: 20px;
  padding: 20px;
  font-family: sans-serif;
}

.navbar a {
  position: relative;
  color: #fff;
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  padding: 0 20px;
  transition: color 0.3s ease;
}

.navbar a::after {
  content: "";
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: -5px;
  height: 2px;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.3s ease;
}

.navbar a:hover {
  color: #000;
}

.navbar a:hover::after {
  transform: scaleX(1);
}

.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
  color: #fff;
}

/* Slider */
.slider-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  top: 15px;
}

.slider {
  display: flex;
  width: 300%;
  height: 100%;
  transition: transform 0.8s ease-in-out;
}

.slide {
  width: 100vw;
  height: 80%;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
}

.slide img {
  width: 100%;
  height: 110%;
  /* object-fit: cover; */
}

.slider-buttons {
  position: absolute;
  top: 50%;
  width: 100%;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.slider-buttons button {
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  color: white;
  font-size: 32px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
}

/* Footer */
.footerLogo {
  width: 200px;
}

.footerLogo img {
  width: 200px;
  height: auto;
}

.footer {
  background-color: #102C53;
  color: white;
  padding: 40px 150px;
  font-family: 'Segoe UI', sans-serif;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 40px;
  padding: 20px;
}

.footer-col {
  display: flex;
  flex-direction: column;
}

.footer-col h3,
.footer-col h4 {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: bold;
}

.footer-col ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-col ul li {
  margin-bottom: 8px;
}

.footer-col ul li a {
  color: #ffffff;
  text-decoration: none;
  font-size: 15px;
}

.footer-col p {
  font-size: 15px;
  margin-bottom: 10px;
}

.footer-col iframe {
  border-radius: 6px;
  margin-top: 10px;
  width: 100%;
  max-width: 300px;
  height: 150px;
}

.footer-bottom {
  text-align: center;
  margin-top: 30px;
  padding-top: 15px;
  font-size: 14px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

/* Floating Buttons */
.wa-float,
.scroll-top {
  position: fixed;
  right: 20px;
  z-index: 100;
  display: none;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.wa-float {
  bottom: 20px;
  background-color: #25D366;
  color: white;
  padding: 12px;
  font-size: 22px;
}

.scroll-top {
  bottom: 80px;
  background-color: #0d2a52;
  color: white;
  padding: 10px;
  font-size: 18px;
}

/* Container */
.container {
  padding: 50px 150px;
}

.container h2 {
  font-size: 3rem;
  font-weight: 700;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* Force 2 columns even on small screens */
  gap: 1.5rem;
  margin: 0 auto;
  padding: 10px;
}

.grid-item {
  background: #3065AB;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.3s ease;
}

.grid-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.grid-item img {
  width: 100%;
  height: auto;
  display: block;
  padding: 10px;
}

.grid-item h3 {
  padding: 0px 20px 20px 15px;
  font-weight: 600;
  font-size: 1.3rem;
  margin: 0;
  color: #fff;
}

/* 1 grid on SP */

.custom-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  gap: 2rem;
  align-items: center;
  color: #102C53;
}

.custom-grid-container img {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 12px;
  object-fit: cover;
}

.custom-grid-col {
  margin: 0 auto;
  align-items: center;
  color: #102C53;
}

/* Banner */
.banner img {
  width: 80%;
  height: 100%;
  position: relative;
  top: 4px;
}



.baseColor {
  background-color: #102C53;
  color: #fff;
}

/* News carousel */

/* Partner */
.partnerImg {
  margin: 0 auto;
  align-items: center;
}

/* Tesstimonials */
.testislider-wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.testislider-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}

.testislider-slide {
  min-width: 100%;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.testislider-slide img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.testimonial-content {
  max-width: 500px;
}

.testimonial-text {
  font-size: 1rem;
  margin-bottom: 10px;
}

.testimonial-name {
  font-weight: bold;
  margin-bottom: 5px;
}

.testimonial-position {
  font-style: italic;
  color: gray;
}

.dots-container {
  text-align: center;
  margin-top: 10px;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 5px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.dot.active {
  background-color: #333;
}

/* Register button */
.cta-container {
  background-color: #6c7a89;
  /* Abu-abu seperti gambar */
  text-align: center;
  padding: 2rem 1rem;
  font-family: 'Montserrat', sans-serif;
}

.cta-image {
  display: block;
  margin: 0 auto 1.5rem auto;
  max-width: 100%;
  height: auto;
  border-radius: 12px;
}

.cta-button {
  display: inline-block;
  background-color: #2962ff;
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 12px 24px;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}

.cta-button:hover {
  background-color: #0039cb;
}


/* Span */
:root {
  --h2-font: 'Poppins', sans-serif;
  --h2-size: 3rem;
  --h2-weight: 700;
}

.prodi {
  font-family: var(--h2-font);
  font-size: var(--h2-size);
  font-weight: var(--h2-weight);
  text-align: center;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-right: 20px;
  padding-left: 20px;
}

.highlight-box {
  display: inline-block;
  background-color: #f1f5f9;
  /* biru muda */
  padding: 5px 10px;
  border-radius: 6px;
  margin-right: 6px;
}


.highlight-box2 {
  display: inline-block;
  /* padding: 5px 10px; */
  border-radius: 6px;
  /* margin-right: 6px; */
}

.highlight-text {
  color: #2563eb;
  /* biru */
}

.partner-text {
  color: #102c53;
  /* hampir hitam */
}

.banner {
  padding-top: 60px;
  padding-bottom: 0px;
  padding-left: 40px;
  padding-right: 40px;
  text-align: center;
}

.partnerImg {
  max-width: 100%;
  height: auto;
}

/* Sambutan */



.sambutan {
  display: flex;
  max-width: 820px;
  width: 100%;
  gap: -24px
}


.wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 40px 20px 0px 20px;
  position: relative;
  overflow: hidden;
}

.shape-bg {
  position: absolute;
  top: 42px;
  left: 121px;
  width: 58%;
  z-index: 0;
}

.photo {
  /* flex: 1; */
  z-index: 2;
  /* min-width: 280px; */
  /* max-width: 400px; */
  /* text-align: center; */
  /* position: relative;
      left: 321px;
      top: 4px; */
}

.photo img {
  width: 410px;
  height: auto;
  object-fit: cover;
}

.title-dir {
  /* position: relative; */
  /* bottom: 205px; */
  /* left: 467px; */
  display: flex;
  gap: 6px;
}

.h2Dir {
  font-family: var(--h2-font);
  font-size: 3rem;
  font-weight: var(--h2-weight);
  text-align: center;
  margin-bottom: 10px;
  /* padding-top: 5px;
      padding-right: 20px;
      padding-left: 20px; */
}

.text-box-container {
  margin-left: -16px;
  position: relative;
  z-index: 18;
}

.text-box {
  flex: 2;
  z-index: 3;
  background-color: rgba(31, 54, 86, 0.9);
  padding: 24px;
  border-radius: 12px;
  max-width: 433px;
  width: 100%;
  color: #fff;
  box-sizing: border-box;
  /* position: relative;
      top: 20px;
      right: 45px; */
  opacity: 0.8;

}

.text-box p {
  font-size: 16px;
  line-height: 1.;
  margin-bottom: 1em;
}

.text-box strong {
  font-weight: bold;
}

.text-box em {
  font-style: italic;
}

.container-wrapper {
  /* padding: 0px 150px; */
  background-color: #C3CAD4;
}

.hide-pc {
  display: none;
}

/* Qoute */
.quote-box {
  position: relative;
  background-color: #c8d0db;
  /* Sesuaikan dengan warna gambar */
  padding: 2rem;
  font-family: 'Montserrat', sans-serif;
  max-width: 100%;
  margin: 0 auto;
  text-align: left;
}

.quote-text {
  font-size: 3rem;
  font-weight: 600;
  color: #3065AB;
  /* Biru tua */
  text-shadow: 6px 1px 2px rgba(0, 0, 0, 0.2);
  margin: 0;
  padding: 0px 120px;
}

.quote-icon {
  font-size: 2rem;
  color: #3065AB;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  display: inline-block;
}

.quote-icon.left {
  position: absolute;
  top: 10px;
  left: 10px;
}

.quote-icon.right {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.img-center {
  display: block;
  margin: 0 auto;
  width: 100%;
  /* max-width: 1000px; */
  height: auto;
}

/* Berita */
.news-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
  line-height: 1.6;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1rem;
  margin-top: 60px;
}

.back-button {
  background-color: #102C53;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.breadcrumb {
  font-size: 0.9rem;
  color: #666;
  margin-top: 0.5rem;
}

.news-title {
  font-size: 2rem;
  margin: 1rem 0;
}

.news-image {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.news-content {
  margin-bottom: 1rem;
  text-align: justify;
}

.news-source {
  font-size: 0.9rem;
  color: #999;
  text-align: right;
}

/* Mobile Responsive */
@media (max-width: 991px) {

  .titleHeader {
    padding-left: 50px;
  }

  .title-dir.h2Dir.hide-pc {
    margin: auto;
    z-index: 2;
    flex-wrap: wrap;
  }

  .h2Dir {
    font-size: 31px;
  }

  .wrapper {
    padding: 0;
  }

  .sambutan {
    flex-direction: column;
    max-width: none;
  }

  .text-box-container {
    margin: 0;
    max-width: none;
  }

  .text-box {
    max-width: none;
    border-radius: 0;
  }

  .photo {
    height: 400px;
    object-fit: cover;
    object-position: top;
    max-width: 350px;
    width: 100%;
    margin: auto;
  }

  .hide-mobile {
    display: none;
  }


  .hide-pc {
    display: flex;
  }

  .footerLogo {
    width: 200px;
  }

  .footerLogo img {
    width: 200px;
    height: auto;
  }

  /* Qoute */
  .quote {
    background-color: #C3CAD4;
    padding: 20px;
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: bold;
    margin: auto;
    color: #3065AB;
  }

  .apostrov-open {
    font-family: 'Montserrat';
    font-size: 60px;
    font-weight: bold;
  }

  .apostrov-close {
    font-family: 'Montserrat';
    font-size: 60px;
    font-weight: bold;
  }

  .quote-text {
    font-size: 2rem;
    font-weight: 600;
    color: #3065AB;
    /* Biru tua */
    text-shadow: 6px 1px 2px rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 0px;
  }

  .top-bar {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 10px;
  }

  .breadcrumb {
    margin-top: 0.5rem;
  }
}

/* Mobile Responsive */
@media (max-width: 768px) {
  body {
    padding-top: 52px;
  }

  .header {
    padding: 8px 20px;
    position: absolute;
  }


  .logo img {
    width: 80px;
    height: auto;
  }

  /* Berita */
  .top-bar {
    margin-top: 10px;
  }

  .hamburger {
    display: block;
  }

  .navbar {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #102C53;
    width: 100%;
    z-index: 15;
  }

  .navbar.show {
    display: flex;
  }

  .navbar a {
    padding: 10px;
  }

  .slider-container {
    margin-top: 7px;
    top: -11px;
  }

  .slider-buttons {
    padding: 0 5px;
  }

  .slider-buttons button {
    font-size: 10px;
    padding: 10px 5px;
  }

  .imgblue {
    width: 180px;
    height: 90px;
  }

  .banner {
    padding-top: 0px;
    text-align: center;
  }

  .banner img {
    width: 100%;
    height: 100%;
  }

  h3 {
    font-size: 14px;
    font-weight: bold;
    color: #102c53;
  }

  .container h2 {
    font-size: 1.7rem;
    font-weight: 700;
  }

  .prodi {
    font-family: var(--h2-font);
    font-size: 1.7rem;
    font-weight: var(--h2-weight);
    text-align: center;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 20px;
    line-height: 38px;
  }

  .container,
  .containerBlue,
  .containerGrey,
  .containerGreyOne {
    padding: 20px;
  }

  .grid-box-blue {
    padding: 10px 0;
  }

  .footer {
    text-align: center;
    padding: 20px;
  }

  .footer-container {
    grid-template-columns: 1fr;
    justify-content: center;
  }

  .footer-col {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 10px;
  }

  .footer-col iframe {
    height: 180px;
  }

  /* Grid container */


  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Force 2 columns even on small screens */
    gap: 1.5rem;
    margin: 0 auto;
  }

  .grid-item {
    border-radius: 12px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.3s ease;
    background: #3065AB;
  }

  .grid-item img {
    width: 100%;
    height: auto;
    display: block;
  }

  .grid-item h3 {
    font-size: 11px;
    font-weight: bold;
    padding-top: 5px;
  }

  /* 1 grid on mode SP */
  .custom-grid-container {
    grid-template-columns: 1fr;
    border-radius: 12px;
    gap: 0rem;
  }

  .custom-grid-container img {
    border-radius: 12px;
    max-height: 100%;
  }

  .custom-grid-text {
    padding: 10px 24px;
  }

  .custom-grid-text h3 {
    font-size: 1.5rem;
    text-align: center;
  }

  .custom-grid-col h3 {
    font-size: 34px;
    font-weight: bold;
  }

  /* Testimonials */
  .testislider-slide {
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    text-align: left;
  }

  .testimonial-content {
    text-align: left;
  }

  /* sambutan */
  .wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 40px 0px 0px 0px;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    /* height: 790px; */
  }

  .shape-bg {
    position: absolute;
    top: 86px;
    left: 2px;
    width: 100%;
    z-index: 0;
  }

  /* .photo {
        flex: 1;
        z-index: 2;
        min-width: 280px;
        max-width: 400px;
        text-align: center;
        position: relative;
        left: 18px;
        bottom: 18px;
    } */
  /* 
    .photo img {
      width: 90%;
      height: auto;
    } */

  .title-dir {
    /* position: relative;
      bottom: 314px;
      left: 530px; */
  }

  /* .h2Dir {
      font-family: var(--h2-font);
      font-size: 3rem;
      font-weight: var(--h2-weight);
      text-align: center;
      margin-bottom: 10px;
      padding-top: 5px;
      padding-right: 20px;
      padding-left: 20px;
    } */

  .text-box p {
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 1em;
  }

  .text-box strong {
    font-weight: bold;
  }

  .text-box em {
    font-style: italic;
  }

  .container-wrapper {
    padding: 0px 0px;
    background-color: #C3CAD4;
  }

  /* Qoute */
  .quote {
    background-color: #C3CAD4;
    padding: 20px;
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: bold;
    margin: auto;
    color: #3065AB;
  }

  .apostrov-open {
    font-family: 'Montserrat';
    font-size: 60px;
    font-weight: bold;
  }

  .apostrov-close {
    font-family: 'Montserrat';
    font-size: 60px;
    font-weight: bold;
  }

  .quote-text {
    font-size: 2rem;
    font-weight: 600;
    color: #3065AB;
    /* Biru tua */
    text-shadow: 6px 1px 2px rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 0px;
  }

  .footerLogo {
    width: 200px;
    margin: auto;
  }

  .footerLogo img {
    width: 150px;
    height: auto;
  }
}

/* Color */

.baseColor {
  background-color: #102C53;
}

.greyColor {
  background-color: #A7AEB8;
}

/* Font-size utility classes */
.fs5 {
  font-size: 5px;
}

.fs6 {
  font-size: 6px;
}

.fs7 {
  font-size: 7px;
}

.fs8 {
  font-size: 8px;
}

.fs9 {
  font-size: 9px;
}

.fs10 {
  font-size: 10px;
}

.fs11 {
  font-size: 11px;
}

.fs12 {
  font-size: 12px;
}

.fs13 {
  font-size: 13px;
}

.fs14 {
  font-size: 14px;
}

.fs15 {
  font-size: 15px;
}

.fs16 {
  font-size: 16px;
}

.fs17 {
  font-size: 17px;
}

.fs18 {
  font-size: 18px;
}

.fs19 {
  font-size: 19px;
}

.fs20 {
  font-size: 20px;
}

.fs21 {
  font-size: 21px;
}

.fs22 {
  font-size: 22px;
}

.fs23 {
  font-size: 23px;
}

.fs24 {
  font-size: 24px;
}

.fs25 {
  font-size: 25px;
}

.fs26 {
  font-size: 26px;
}

.fs27 {
  font-size: 27px;
}

.fs28 {
  font-size: 28px;
}

.fs29 {
  font-size: 29px;
}

.fs30 {
  font-size: 30px;
}

.fs31 {
  font-size: 31px;
}

.fs32 {
  font-size: 32px;
}

.fs33 {
  font-size: 33px;
}

.fs34 {
  font-size: 34px;
}

.fs35 {
  font-size: 35px;
}

.fs36 {
  font-size: 36px;
}

.fs37 {
  font-size: 37px;
}

.fs38 {
  font-size: 38px;
}

.fs39 {
  font-size: 39px;
}

.fs40 {
  font-size: 40px;
}

.fs41 {
  font-size: 41px;
}

.fs42 {
  font-size: 42px;
}

.fs43 {
  font-size: 43px;
}

.fs44 {
  font-size: 44px;
}

.fs45 {
  font-size: 45px;
}

.fs46 {
  font-size: 46px;
}

.fs47 {
  font-size: 47px;
}

.fs48 {
  font-size: 48px;
}

.fs49 {
  font-size: 49px;
}

.fs50 {
  font-size: 50px;
}

.fs51 {
  font-size: 51px;
}

.fs52 {
  font-size: 52px;
}

.fs53 {
  font-size: 53px;
}

.fs54 {
  font-size: 54px;
}

.fs55 {
  font-size: 55px;
}

.fs56 {
  font-size: 56px;
}

.fs57 {
  font-size: 57px;
}

.fs58 {
  font-size: 58px;
}

.fs59 {
  font-size: 59px;
}

.fs60 {
  font-size: 60px;
}

/* Margin */
.mt5 {
  margin-top: 5px;
}

.mt10 {
  margin-top: 10px;
}

.mt15 {
  margin-top: 15px;
}

.mt20 {
  margin-top: 20px;
}

.mb5 {
  margin-bottom: 5px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb15 {
  margin-bottom: 15px;
}

.mb20 {
  margin-bottom: 20px;
}

.ml5 {
  margin-left: 5px;
}

.ml10 {
  margin-left: 10px;
}

.ml15 {
  margin-left: 15px;
}

.ml20 {
  margin-left: 20px;
}

.mr5 {
  margin-right: 5px;
}

.mr10 {
  margin-right: 10px;
}

.mr15 {
  margin-right: 15px;
}

.mr20 {
  margin-right: 20px;
}

.m5 {
  margin: 5px;
}

.m10 {
  margin: 10px;
}

.m15 {
  margin: 15px;
}

.m20 {
  margin: 20px;
}

.mx5 {
  margin: 0 5px;
}

.mx10 {
  margin: 0 10px;
}

.mx15 {
  margin: 0 15px;
}

.mx20 {
  margin: 0 20px;
}

.my5 {
  margin: 5px 0;
}

.my10 {
  margin: 10px 0;
}

.my15 {
  margin: 15px 0;
}

.my20 {
  margin: 20px 0;
}

/* Padding */
.pt5 {
  padding-top: 5px;
}

.pt10 {
  padding-top: 10px;
}

.pt15 {
  padding-top: 15px;
}

.pt20 {
  padding-top: 20px;
}

.pb0 {
  padding-bottom: 0px;
}

.pb5 {
  padding-bottom: 5px;
}

.pb10 {
  padding-bottom: 10px;
}

.pb15 {
  padding-bottom: 15px;
}

.pb20 {
  padding-bottom: 20px;
}

.pl5 {
  padding-left: 5px;
}

.pl10 {
  padding-left: 10px;
}

.pl15 {
  padding-left: 15px;
}

.pl20 {
  padding-left: 20px;
}

.pr5 {
  padding-right: 5px;
}

.pr10 {
  padding-right: 10px;
}

.pr15 {
  padding-right: 15px;
}

.pr20 {
  padding-right: 20px;
}

.p5 {
  padding: 5px;
}

.p10 {
  padding: 10px;
}

.p15 {
  padding: 15px;
}

.p20 {
  padding: 20px;
}

.px5 {
  padding: 0 5px;
}

.px10 {
  padding: 0 10px;
}

.px15 {
  padding: 0 15px;
}

.px20 {
  padding: 0 20px;
}

.py5 {
  padding: 5px 0;
}

.py10 {
  padding: 10px 0;
}

.py15 {
  padding: 15px 0;
}

.py20 {
  padding: 20px 0;
}

/* Typography */
.fs32 {
  font-size: 32px;
}

.center-text {
  text-align: center;
}