html {
    scroll-behavior: smooth;
}

.hero-container {
    position: relative;
    width: 100%;
    margin: auto;
}

.pmb-header-image {
    width: 100%;
    height: 100vh;
    display: block;
}

.title-pmb {
    font-size: 50px;
    margin-bottom: 20px;
    padding: 10px;
}

.floating-card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0b2a50;
    color: white;
    padding: 50px;
    width: 100%;
    max-width: 600px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
    text-align: left;
}

.floating-card h2 {
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: bold;
}

.floating-card p {
    text-align: justify;
    font-size: 16px;
    margin-bottom: 20px;
}

.tombol-center {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.center {
    text-align: center;
}

.underline {
    text-decoration: underline;
}

.whitesmoke {
    color: whitesmoke;
}

hr {
    border: 1px solid #979797;
}

.b-600 {
    font-weight: 600;
}

.b-700 {
    font-weight: 700;
}

.b-800 {
    font-weight: 800;
}

.b-900 {
    font-weight: 900;
}

.btn-daftar {
    display: inline-block;
    background-color: #004aad;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.5s ease;
}

.btn-pmb {
    display: inline-block;
    background-color: #004aad;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.5s ease;
}

.btn-daftar:hover,
.btn-pmb:hover {
    background-color: #006aff;
}

.btn-selengkapnya {
    display: inline-block;
    background-color: #6c757d;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    text-decoration: none;
    /* Tambahan biar ke tengah */
    margin: 0 auto;
    text-align: center;
    transition: background-color 0.5s ease;
}

.btn-selengkapnya:hover {
    background-color: #a2aeb8;
}

.section-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #1a237e;
}

.card {
    background-color: #f0f0f0;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;

}

.table-responsive {
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    /* agar smooth di iOS */
}

.table-responsive table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

th,
td {
    padding: 0.75rem;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #e3f2fd;
}


.lh1-5 {
    line-height: 1.5;
}

.lh2 {
    line-height: 2;
}

.text-bold {
    font-weight: bold;
}

/* .background_2 {
    position: relative;
    width: 100%;
    background-image: url('../images/profil_banner.jpg');
    background-size: cover;
    background-position: center;
} */

.banner-profil img {
    width: 100%;
    height: 100%;
    position: relative;
}

.banner {
    text-align: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    /* Ubah alpha untuk transparansi */
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    z-index: 1;
    /* Pastikan di atas overlay */
}

h1.title {
    font-weight: 800;
    text-align: center;
    font-size: 2.5rem;
    text-transform: uppercase;
}

span.featured {
    color: #3065ab;
    padding: 0 0 0 15px;
    margin-right: 10px;
    background-color: #f0f4fa;
    border-radius: 5px;
    border: #f0f4fa 2px solid;
}

h2 {
    color: #102c53;
    font-size: 48px;
    font-weight: 800;
}

h2.header-pmb {
    color: white;
}

.colorLight {
    color: whitesmoke;
}


.button-group {
    display: flex;
    justify-content: space-between;
    /* Atau pakai space-around / center */
    gap: 10px;
    /* Jarak antar tombol */
}

.button-group button {
    flex: 1;
    /* Agar semua tombol memiliki lebar yang sama */
    padding: 20px;
    color: #fafafa;
    font-size: 16px;
    cursor: pointer;
    background-color: #3065ab;
    border-radius: 10px;
    border: none;
    transition: background-color 0.5s ease;
}

.button-group button:hover {
    background-color: #408bec;
    border: none;
}


/*----------------------------------------------
10. Gallery
----------------------------------------------*/

/* #region Gallery */

.gallery {
    position: relative;
    overflow: hidden;
}

.content .gallery {
    margin: 35px 0 0 0;
}

.gallery .item:not(:last-child) {
    margin-bottom: 30px;
}

.gallery img {
    border-radius: 4px;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.gallery .fit-image {
    width: 100%;
    height: 100%;
}

.gallery img:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.gallery a:hover img {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}

.gallery.featured {
    transform: scale(1);
}

.gallery.featured a:first-child:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -30px;
    left: -15px;
    width: 90%;
    height: 90%;
    border: 4px solid;
    border-color: var(--primary-color);
    transition-timing-function: cubic-bezier(.25, .25, .75, .75);
    transition-duration: 0.6s;
    transition-property: opacity, transform;
}

.gallery.featured a:last-child:before {
    content: '';
    position: absolute;
    z-index: -1;
    right: -15px;
    bottom: 0;
    width: 90%;
    height: 90%;
    border: 4px solid;
    border-color: var(--primary-color);
    transition-timing-function: cubic-bezier(.25, .25, .75, .75);
    transition-duration: 0.6s;
    transition-property: opacity, transform;
}

.w-100 {
    width: 20%;
}

.a-none {
    text-decoration: none;
}

/* Berita */
.bg-light {
    background-color: #e1e1e1;
}

/* Prodi */

.card-prodi-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* 2 kolom */
    gap: 20px;
    max-width: 90%;
    margin: auto;
}

.card-prodi {
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: all 0.3s ease;
    cursor: pointer;
}

.card-prodi-header {
    padding: 15px;
    /* background: #f0f0f0; */
    color: #102c53;
    font-weight: bold;
}

.card-prodi-body {
    padding: 15px;
    display: none;
    /* disembunyikan dulu */
    animation: fadeIn 0.3s ease;
}

.card-prodi.expanded .card-prodi-body {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* End Prodi */

/* #endregion Gallery */

@media (max-width: 768px) {
    .profil_bnr {
        position: relative;
        top: 5px;
    }

    .w-100 {
        width: 100%;
    }

    .background {
        margin-top: -10px;
    }

    .pmb-header-image {
        display: none;
    }

    .floating-card {
        display: none;
    }

    /* .floating-card {
        position: static;
        background-color: #104b78;
        border-radius: 0;
        transform: none;
        width: 100%;
        text-align: center;
        box-shadow: none;
        margin-top: -10px;
    }

    .floating-card h2 {
        font-size: 20px;
    }

    .floating-card p {
        font-size: 14px;
        text-align: justify;
    } */

    .card-prodi-container {
        grid-template-columns: 1fr;
        /* jadi 1 kolom */
    }

    .btn-daftar {
        width: 100%;
        padding: 12px 0;
        background-color: #0b2a50;
    }

    .btn-selengkapnya {
        margin-bottom: 5px;
        width: 100%;
        padding: 12px 0;
    }

    .banner-profil {
        padding-top: 0px;
        text-align: center;
    }

    .banner-profil img {
        width: 100%;
        height: 100%;
    }
}